# Class 7: Combining datasets

#### 1. Concatenating
#### 2. Merge
#### 3. Join

| Function   | Philosophy                  | Aligns On                                | Typical Output                                      |
|:---------- |:--------------------------- |:---------------------------------------- |:--------------------------------------------------- |
| concat     | Stack/concatenate blocks    | Index (if axis=1) or Columns (if axis=0) | MultiIndex possible, preserves DataFrame identity   |
| merge      | SQL-style join              | Column(s) or index                       | Flat columns, tidy table                            |
| join       | Shortcut for merge on index | Index by default, or a column in left DF | Flat columns                                        |

### 1. Concatenate different dfs

1.1. Append df1 and df2. vertically axis=0, horizontally axis=1.
df = pd.concat([df1,df2], axis = 0)

1.2. Append and add label. vertically axis=0, horizontally axis=1.
df = pd.concat([df1,df2], keys = ["label df1","label df2"], axis = 0)

1.3. Concat identical row 'Transcript' and 'Transcript' become index, default join= 'outer'
df = pd.concat([df1.set_index('Transcript'), df2.set_index('Transcript')], join = 'inner',
               keys = ["label df1", "label df2"], axis = 1)
Result=only one column 'Transcript'

In [2]:
import pandas as pd
infected=pd.read_csv('../Datasets/Infected.csv')
infected

  Transcript  Rep1  Rep2  Rep3
0        GL2  2975  1512  1701
1       HEN3  2478  1005  1410
2        AP1  3033  1005  1410
3       AGO1  6461  1671   411
4        WER  3184  1257  1137
5        CPC   584  1458  1509
6       RDR2    72  3984  1914

In [3]:
control=pd.read_csv('../Datasets/Control.csv')
infected

  Transcript  Rep1  Rep2  Rep3
0        GL2  2975  1512  1701
1       HEN3  2478  1005  1410
2        AP1  3033  1005  1410
3       AGO1  6461  1671   411
4        WER  3184  1257  1137
5        CPC   584  1458  1509
6       RDR2    72  3984  1914

In [15]:
#1.1 
df = pd.concat([infected, control], axis = 0)
df

   Transcript   Rep1   Rep2    Rep3
0         GL2   2975   1512    1701
1        HEN3   2478   1005    1410
2         AP1   3033   1005    1410
3        AGO1   6461   1671     411
4         WER   3184   1257    1137
5         CPC    584   1458    1509
6        RDR2     72   3984    1914
0          AG    834    190     206
1         AP1   1671   1288     404
2         LFY   1512   3142    3018
3         UFO   1296   2903    2761
4        AGO1   1590  63189  144704
5         CLF   2901   3639   13308
6        HEN3   1446  18054   13346
7        RDR2    543    173     825
8         TTG    669    144      59
9         GL2   1047   1922    2084
10        WER  11037    451    2678
11        CPC   2329   1316    2070

In [10]:
#1.1
df = pd.concat([infected, control], axis = 1)
df

   Transcript    Rep1    Rep2    Rep3 Transcript   Rep1   Rep2    Rep3
0         GL2  2975.0  1512.0  1701.0         AG    834    190     206
1        HEN3  2478.0  1005.0  1410.0        AP1   1671   1288     404
2         AP1  3033.0  1005.0  1410.0        LFY   1512   3142    3018
3        AGO1  6461.0  1671.0   411.0        UFO   1296   2903    2761
4         WER  3184.0  1257.0  1137.0       AGO1   1590  63189  144704
5         CPC   584.0  1458.0  1509.0        CLF   2901   3639   13308
6        RDR2    72.0  3984.0  1914.0       HEN3   1446  18054   13346
7         NaN     NaN     NaN     NaN       RDR2    543    173     825
8         NaN     NaN     NaN     NaN        TTG    669    144      59
9         NaN     NaN     NaN     NaN        GL2   1047   1922    2084
10        NaN     NaN     NaN     NaN        WER  11037    451    2678
11        NaN     NaN     NaN     NaN        CPC   2329   1316    2070

In [16]:
#1.2
df = pd.concat([infected, control], keys = ["infected", "control"], axis = 0)
df

            Transcript   Rep1   Rep2    Rep3
infected 0         GL2   2975   1512    1701
         1        HEN3   2478   1005    1410
         2         AP1   3033   1005    1410
         3        AGO1   6461   1671     411
         4         WER   3184   1257    1137
         5         CPC    584   1458    1509
         6        RDR2     72   3984    1914
control  0          AG    834    190     206
         1         AP1   1671   1288     404
         2         LFY   1512   3142    3018
         3         UFO   1296   2903    2761
         4        AGO1   1590  63189  144704
         5         CLF   2901   3639   13308
         6        HEN3   1446  18054   13346
         7        RDR2    543    173     825
         8         TTG    669    144      59
         9         GL2   1047   1922    2084
         10        WER  11037    451    2678
         11        CPC   2329   1316    2070

In [17]:
#1.2
df = pd.concat([infected, control], keys = ["infected", "control"], axis = 1)
df

     infected                            control
   Transcript    Rep1    Rep2    Rep3 Transcript   Rep1   Rep2    Rep3
0         GL2  2975.0  1512.0  1701.0         AG    834    190     206
1        HEN3  2478.0  1005.0  1410.0        AP1   1671   1288     404
2         AP1  3033.0  1005.0  1410.0        LFY   1512   3142    3018
3        AGO1  6461.0  1671.0   411.0        UFO   1296   2903    2761
4         WER  3184.0  1257.0  1137.0       AGO1   1590  63189  144704
5         CPC   584.0  1458.0  1509.0        CLF   2901   3639   13308
6        RDR2    72.0  3984.0  1914.0       HEN3   1446  18054   13346
7         NaN     NaN     NaN     NaN       RDR2    543    173     825
8         NaN     NaN     NaN     NaN        TTG    669    144      59
9         NaN     NaN     NaN     NaN        GL2   1047   1922    2084
10        NaN     NaN     NaN     NaN        WER  11037    451    2678
11        NaN     NaN     NaN     NaN        CPC   2329   1316    2070

In [18]:
#1.3
df = pd.concat([infected.set_index('Transcript'), control.set_index('Transcript')], join = 'inner',
               keys = ["infected", "control"], axis = 1)
df

           infected             control
               Rep1  Rep2  Rep3    Rep1   Rep2    Rep3
Transcript
GL2            2975  1512  1701    1047   1922    2084
HEN3           2478  1005  1410    1446  18054   13346
AP1            3033  1005  1410    1671   1288     404
AGO1           6461  1671   411    1590  63189  144704
WER            3184  1257  1137   11037    451    2678
CPC             584  1458  1509    2329   1316    2070
RDR2             72  3984  1914     543    173     825

### 2. Merge

2.1. Merge on column 'Transcript'. Default how='inner'
Result= only one column 'Transcript'
df = df1.merge(df2, how = 'outer', on = 'Transcript', suffixes = ['_df1 suffix', '_df2 suffix'])

2.2. Merge a column from df1 with a column from df2. both have different column names.
Result: both columns are still independent, but their values align
df = df1.merge(df2, left_on = 'column from df1', right_on = 'column from df2')

2.3. Chaining merge
df = dataframe1.merge().merge()`....

In [20]:
#2.1.
df = infected.merge(control, how = 'outer', on = 'Transcript', suffixes = ['_Infected', '_Control'])
df

,Transcript,Rep1_Infected,Rep2_Infected,Rep3_Infected,Rep1_Control,Rep2_Control,Rep3_Control
0,AG,NaN,NaN,NaN,834,190,206
1,AGO1,6461.0,1671.0,411.0,1590,63189,144704
2,AP1,3033.0,1005.0,1410.0,1671,1288,404
3,CLF,NaN,NaN,NaN,2901,3639,13308
4,CPC,584.0,1458.0,1509.0,2329,1316,2070
5,GL2,2975.0,1512.0,1701.0,1047,1922,2084
6,HEN3,2478.0,1005.0,1410.0,1446,18054,13346
7,LFY,NaN,NaN,NaN,1512,3142,3018
8,RDR2,72.0,3984.0,1914.0,543,173,825
9,TTG,NaN,NaN,NaN,669,144,59
10,UFO,NaN,NaN,NaN,1296,2903,2761
11,WER,3184.0,1257.0,1137.0,11037,451,2678

In [21]:
#2.2
location=pd.read_csv('../Datasets/Location.csv')
location

   Locus  Chrm    LOC  Length
0     AG    10     68    8233
1    AP1    20   1130   72864
2    LFY    15  20333   15657
3    UFO     9   2824    7891
4   AGO1     9   4507   11478
5    CLF     6   1604    4948
6   HEN3     8   3923    5524
7   RDR2    11   3393   18581
8    TTG     2  19551    2282
9    GL2     7  22314    3456
10   WER     2    212    7690
11   CPC     4   4567   13542

In [22]:
anot=pd.read_csv('../Datasets/anot.csv')
anot

,Gene,Name,Locus,Function,Pathway
0,AG,AGAMOUS,AT4G18960,MADS domain transcription factor.,Flowering
1,AP1,APETALA1,AT1G69120,MADS domain transcription factor.,Flowering
2,LFY,LEAFY,AT5G61850,LFY domain TF,Flowering
3,UFO,UNUSUAL FLORAL ORGANS,AT1G30950,F-box family protein,Flowering
4,AGO1,ARGONAUTE 1,AT1G48410,RNA Slicer,Epigenetic
5,CLF,CURLY LEAF,AT2G23380,Polycomb-group gene,Epigenetic
6,HEN3,HUA ENHANCER 3,AT5G63610,Cyclin-dependent protein kinases,Epigenetic
7,RDR2,RNA-DEPENDENT RNA POLYMERASE 2,AT4G11130,RNA-dependent RNA polymerase,Epigenetic
8,TTG,TRANSPARENT TEST G>ABRA,AT5G24520,WD40 repeat TF,Trichome
9,GL2,GLABRA2,AT1G79840,homeodomain protein,Trichome
10,WER,WEREWOLF,AT5G14750,MyB domain TF,Trichome
11,CPC,CAPRICE,AT2G46410,MyB domain TF,Trichome

In [23]:
df = location.merge(anot, left_on = 'Locus', right_on = 'Gene')
df

,Locus_x,Chrm,LOC,Length,Gene,Name,Locus_y,Function,Pathway
0,AG,10,68,8233,AG,AGAMOUS,AT4G18960,MADS domain transcription factor.,Flowering
1,AP1,20,1130,72864,AP1,APETALA1,AT1G69120,MADS domain transcription factor.,Flowering
2,LFY,15,20333,15657,LFY,LEAFY,AT5G61850,LFY domain TF,Flowering
3,UFO,9,2824,7891,UFO,UNUSUAL FLORAL ORGANS,AT1G30950,F-box family protein,Flowering
4,AGO1,9,4507,11478,AGO1,ARGONAUTE 1,AT1G48410,RNA Slicer,Epigenetic
5,CLF,6,1604,4948,CLF,CURLY LEAF,AT2G23380,Polycomb-group gene,Epigenetic
6,HEN3,8,3923,5524,HEN3,HUA ENHANCER 3,AT5G63610,Cyclin-dependent protein kinases,Epigenetic
7,RDR2,11,3393,18581,RDR2,RNA-DEPENDENT RNA POLYMERASE 2,AT4G11130,RNA-dependent RNA polymerase,Epigenetic
8,TTG,2,19551,2282,TTG,TRANSPARENT TEST G>ABRA,AT5G24520,WD40 repeat TF,Trichome
9,GL2,7,22314,3456,GL2,GLABRA2,AT1G79840,homeodomain protein,Trichome
10,WER,2,212,7690,WER,WEREWOLF,AT5G14750,MyB domain TF,Trichome
11,CPC,4,4567,13542,CPC,CAPRICE,AT2G46410,MyB domain TF,Trichome

In [24]:
#1.3
df = infected.merge(control, on = 'Transcript').merge(location, left_on = 'Transcript', right_on = 'Locus').merge(anot, left_on = 'Locus', right_on = 'Gene')
df

,Transcript,Rep1_x,Rep2_x,Rep3_x,Rep1_y,Rep2_y,Rep3_y,Locus_x,Chrm,LOC,Length,Gene,Name,Locus_y,Function,Pathway
0,GL2,2975,1512,1701,1047,1922,2084,GL2,7,22314,3456,GL2,GLABRA2,AT1G79840,homeodomain protein,Trichome
1,HEN3,2478,1005,1410,1446,18054,13346,HEN3,8,3923,5524,HEN3,HUA ENHANCER 3,AT5G63610,Cyclin-dependent protein kinases,Epigenetic
2,AP1,3033,1005,1410,1671,1288,404,AP1,20,1130,72864,AP1,APETALA1,AT1G69120,MADS domain transcription factor.,Flowering
3,AGO1,6461,1671,411,1590,63189,144704,AGO1,9,4507,11478,AGO1,ARGONAUTE 1,AT1G48410,RNA Slicer,Epigenetic
4,WER,3184,1257,1137,11037,451,2678,WER,2,212,7690,WER,WEREWOLF,AT5G14750,MyB domain TF,Trichome
5,CPC,584,1458,1509,2329,1316,2070,CPC,4,4567,13542,CPC,CAPRICE,AT2G46410,MyB domain TF,Trichome
6,RDR2,72,3984,1914,543,173,825,RDR2,11,3393,18581,RDR2,RNA-DEPENDENT RNA POLYMERASE 2,AT4G11130,RNA-dependent RNA polymerase,Epigenetic

### 3. Join

3.1. Join df1 and df2 (like in merge 2.1)
df = df1.join(df2, lsuffix = '_df1 suffix', rsuffix = '_df2 suffix')

3.2. Join df1 and df2, with transcript shared as index (like in concat 1.3)
df = df1.set_index('Transcript').join(df2.set_index('Transcript'), lsuffix = '_df1 suffix', rsuffix = '_df2 suffix')

In [4]:
#3.1
df = infected.join(control, lsuffix = '_Infected', rsuffix = '_Control')
df

,Transcript_Infected,Rep1_Infected,Rep2_Infected,Rep3_Infected,Transcript_Control,Rep1_Control,Rep2_Control,Rep3_Control
0,GL2,2975,1512,1701,AG,834,190,206
1,HEN3,2478,1005,1410,AP1,1671,1288,404
2,AP1,3033,1005,1410,LFY,1512,3142,3018
3,AGO1,6461,1671,411,UFO,1296,2903,2761
4,WER,3184,1257,1137,AGO1,1590,63189,144704
5,CPC,584,1458,1509,CLF,2901,3639,13308
6,RDR2,72,3984,1914,HEN3,1446,18054,13346

In [5]:
#3.2.
df = infected.set_index('Transcript').join(control.set_index('Transcript'), lsuffix = '_Infected', rsuffix = '_Control')
df

,Rep1_Infected,Rep2_Infected,Rep3_Infected,Rep1_Control,Rep2_Control,Rep3_Control
Transcript,,,,,,
GL2,2975,1512,1701,1047,1922,2084
HEN3,2478,1005,1410,1446,18054,13346
AP1,3033,1005,1410,1671,1288,404
AGO1,6461,1671,411,1590,63189,144704
WER,3184,1257,1137,11037,451,2678
CPC,584,1458,1509,2329,1316,2070
RDR2,72,3984,1914,543,173,825